<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=<ADD_YOUR_SERVER_HERE>;uid=<YOUR_USER_HERE>;pwd=<YOUR_PASSWORD_HERE>;Database=<YOUR_DATABASE> name=<YOUR_DB_USER> providerName=<YOUR_PROVIDER_NAME>" />
    </connectionStrings>
</configuration>
